@import '../../../sass_modules/all.scss';

.s_split {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s_split__left {
    width: 100%;
    height: 100%;
    @include gradient;

}

.s_split__right {
    display: none;
    height: 100%;
    background-size:cover;
}

.headersContainer {
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & h2, & h3 {
        text-align: center;
        color: $white;
        max-width: 100%;
    }

    & h3 {
        margin-bottom: 20px;
    }
}

@media(min-width: $tablet) {
    .headersContainer {
        & h3 {
            margin-bottom: 10px;
        }
    }

    .s_split {
        flex-direction: row;
    }

    .s_split__left, .s_split__right {
        width: 50%;
        display: flex;
    }

    .s_split__left {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
}