@import '../../../sass_modules/all.scss';

.notFoundView {
    @include gradient;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.notFoundView__display {
    background: rgba(0,0,0,.3);
    padding: 20px;
    max-width: 100%;
    color: $white;
    text-align: center;
}