@import '../../../sass_modules/all.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 250px;
    height: 36px;
    text-transform: uppercase;
    box-shadow: none;
    border: 1px solid $bluish;
    color: $white;
    background: $bluish;
    cursor: pointer;
    transition: all .3s linear;

    &:hover {
        background: $white;
        color: $bluish;
    }

    &:focus {
        outline: 1px solid $bluish;
        outline-offset: 2px;
    }
}

.button:disabled {
    background: rgba(0,0,0,.3);
}

